<nav class="site-nav" aria-label="{{#if isSecondary}}Navegação secundária{{else}}Navegação principal{{/if}}">
    <ul class="nav-list{{#if isSecondary}} nav-list-secondary{{/if}}">
        {{#foreach navigation}}
            <li class="nav-item nav-{{slug}}{{#if current}} nav-current{{/if}}">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
</nav>
